
<div class="row">
    <div class="col-12">
        <h3>
            {{"DESCRIPTION" | translate }} {{"LAPTOP.DELL" | translate}}
        </h3>
        
    </div>
    <div class="col-12 images">
        <div class="row">
            <div class="col-5">
                <img src="../../../assets/images/dell1.jpg" />
            </div>
            <div class="col-1"></div>
            <div class="col-5">
                <img src="../../../assets/images/dell2.jpg" />
            </div>
        </div>
    </div>
</div>
