<div class="container-fluid">
    <div class="row">
        <div class="col-12 header">
            <div class="header_btns">
                <button class="en" *ngIf="lang == 'ar'" (click)="changeLanguage('en')">En</button>
                <button class="ar" *ngIf="lang == 'en'" (click)="changeLanguage('ar')">Ar</button>
                <button class="products" (click)="navigateToProducts()">{{"PRODUCTS" | translate}}</button>
                <button class="products home" (click)="navigateToHome()">{{"HOME" | translate}}</button>
            </div>
        </div>
    </div>
</div>