

<div class="row">
    <div class="col-12">
        <h3>
            {{"DESCRIPTION" | translate }} {{"LAPTOP.HP" | translate}}
        </h3>
        
        
    </div>
    <div class="col-12 images">
        <div class="row">
            <div class="col-5">
                <img src="../../../assets/images/hp1.jpeg" />
            </div>
            <div class="col-1"></div>
            <div class="col-5">
                <img src="../../../assets/images/hp2.jpeg" />
            </div>
        </div>
    </div>
</div>